@import "../helpers/variables";
@import "../helpers/responsive";

.title {
	&-xl {
		font-weight: bold;
		font-size: 54px;
		line-height: 65px;
		color: #fff;
		@include mobile {
			font-size: 30px;
			line-height: 42px;
		}
	}
	&-lg {
		font-weight: bold;
		font-size: 48px;
		line-height: 58px;
		color: #fff;
		margin-bottom: 33px;
		@include mobile {
			font-size: 25px;
			line-height: 30px;
			margin-bottom: 23px;
		}
	}
	&-md {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #fff;
		@include mobile {
			font-size: 16px;
			line-height: 22px;
		}
	}
	&-sm {
		font-weight: bold;
		font-size: 18px;
		line-height: 18px;
		color: #54c0f6;
		margin-bottom: 20px;
		@include mobile {
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 5px;
		}
	}
}
.text {
	&-xl {
		font-weight: normal;
		font-size: 24px;
		line-height: 35px;
		color: #fff;
		@include mobile {
			font-size: 19px;
			line-height: 27px;
		}
	}
	&-lg {
		font-weight: normal;
		font-size: 20px;
		line-height: 27px;
		color: #fff;
		@include mobile {
			font-size: 16px;
			line-height: 22px;
		}
	}
	&-md {
		font-weight: normal;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		@include mobile {
			font-size: 13px;
			line-height: 18px;
		}
	}
	&-sm {
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #fff;
		@include mobile {
			font-size: 13px;
			line-height: 18px;
		}
	}
	&-xsm {
		font-weight: normal;
		font-size: 16px;
		line-height: 25px;
		color: #d4d4d4;
		@include mobile {
			font-size: 13px;
		}
	}
}

// section description paragrapgh
.desc-para {
	& + .desc-para {
		margin-top: 25px;
		@include mobile {
			margin-top: 16px;
		}
	}
}

[class*="title-"],
[class*="text-"] {
	span {
		&.d-block {
			@include mobile {
				display: inline !important;
			}
		}
	}
}
