$base-font-family: 'Lato', sans-serif;
$reset-rem-size: 16px;
$font-size-base: 0.7rem;

// image path
$image-path: '../images';

// color
$dark: #000;
$dark-light: #121219;
$light: #fff;

// theme color
$primary-color: #54c0f6;
$secondary-color: #cccccc;
$error-color: red;

// overirde bootatrsp style
$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;
